.Modal {
}

.Modal-button-return:hover {
  border-color: #ffcc01 !important;
  color: #ffcc01 !important;
}

.Modal-button-submit {
  background-color: #ffcc01 !important;
  border-color: #ffcc01 !important;
}

.Modal-button-submit:hover {
  background-color: #ffdc4f !important;
  border-color: #ffdc4f !important;
}

.Modal-input:hover {
  border-color: #ffcc01 !important;
}

.Modal-input:focus {
  background-color: none !important ;
  border-color: none !important;
  outline-color: none !important;
}

.Modal-input::selection {
  background-color: none !important ;
  border-color: none !important;
  outline-color: none !important;
  box-shadow: none !important;
}
